.loading {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    animation-name: bounce;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .loading > span:nth-child(1) {
    background-color: #ffb3c2;
    animation-delay: 0.1s;
  }
  .loading > span:nth-child(2) {
    background-color: #99b9ff;
    animation-delay: 0.15s;
  }
  .loading > span:nth-child(3) {
    background-color: #78ffd1;
    animation-delay: 0.2s;
  }
  .loading > span:nth-child(4) {
    background-color: #f0ffa6;
    animation-delay: 0.25s;
  }
  
  @keyframes bounce {
    40% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  