body {
    font-family: 'Karla', sans-serif;
    background-color: #F5F7FB;
    color: #646c89;
    text-shadow: .5em .5em 1em rgba(0, 0, 0, .1);
    overflow-x: hidden;
    background-color: #e8e7ed;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    color: #646c89;
    font-size: clamp(20px, 4vw, 2px);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h3 {
    color: #646c89;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

main {
    padding: 2.5em 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}